.about {
  padding: 6rem 2rem;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 900px;
  text-align: center;
}

.heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.text {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
  opacity: 0.85;
}
