.intro {
  width: 100%;
  text-align: left;
}

.title {
  font-size: 1.9rem;
  margin-bottom: 1rem;
  color: black;
}

.subtitle p {
  margin: 0;
  color: black;
  max-width: 600px;
  line-height: 1.5;
}
