.hero {
  text-align: left;
  width: 100%;
  z-index: 2;
}

.title {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  color: white;
}

.subtitle p {
  margin: 0;
  color: white;
  max-width: 600px;
  line-height: 1.5;
}
