.topbar {
  width: 100%;
  height: 60px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1.5rem;
  border-bottom: 1px solid #e5e5e5;

  position: sticky;
  top: 0;
  z-index: 1000;
}

.left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 60px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;

  width: 28px;
  height: 28px;
  padding: 0;

  background: transparent;
  border: none;
  cursor: pointer;
}

.hamburger span {
  width: 100%;
  height: 2px;
  background: #000;
  display: block;
}

.iconBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.95rem;
  opacity: 0.7;
}

.iconBtn:hover {
  opacity: 1;
}

.profileCircle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #111;
  color: #fff;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .iconBtn:nth-child(1) {
    display: none;
  }
}
