.pageSection {
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 0;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
